@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");

body {
  color: white;
}

.MuiFilledInput-root {
  border-radius: 50px !important;
}

.MuiFilledInput-root:before,
.MuiFilledInput-root:after {
  border: none !important;
}

.image:hover {
  cursor: pointer;
  filter: brightness(75%);
  transition: filter 300ms ease;
}

.image:last-child {
  margin-bottom: 2rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.88);
  z-index: 1;
}

#folder-helper-text,
#folder-label,
.MuiRadio-root .MuiSvgIcon-root {
  color: white;
}

.MuiSvgIcon-root {
  padding-right: 5px;
}

.image-names-box {
  justify-content: flex-end;
}

@media screen and (max-width: 1199px) {
  .image-names-box {
    justify-content: flex-start;
  }
}
