.MuiFilledInput-root {
  border-radius: 50px !important;
}

.MuiFilledInput-root:before,
.MuiFilledInput-root:after {
  border: none !important;
}

.image:hover {
  cursor: pointer;
  filter: brightness(75%);
  transition: filter 300ms ease;
}

.image:last-child {
  margin-bottom: 2rem;
}

.loader {
  text-align: center;
  margin-top: 5rem;
}
